RewriteEngine On
RewriteBase /iab/
RewriteRule ^/?$ dispatcher.php?seccion=portada [NC,L]
RewriteRule ^category/noticias/?$ dispatcher.php?seccion=noticias [NC,L]
RewriteRule ^noticias/(.*)/?$ dispatcher.php?seccion=noticias&id=$1 [NC,L]
RewriteRule ^asociados/?$ dispatcher.php?seccion=asociate [NC,L]
RewriteRule ^asociados/registro/?$ dispatcher.php?seccion=registro [NC,L]
RewriteRule ^eventos-iab/?$ dispatcher.php?seccion=eventos [NC,L]
RewriteRule ^eventos/([0-9]+)/.*/?$ dispatcher.php?seccion=eventos&id=$1 [NC,L]
RewriteRule ^canal-tv/?$ dispatcher.php?seccion=videos [NC,L]
RewriteRule ^contacto/?$ dispatcher.php?seccion=contacto [NC,L]