RewriteEngine On
RewriteBase /iab-mobile/
RewriteRule ^/?$ dispatcher.php?seccion=portada [NC,L]
RewriteRule ^category/noticias/?$ dispatcher.php?seccion=noticias [NC,L]
RewriteRule ^asociados/?$ dispatcher.php?seccion=asociate [NC,L]
RewriteRule ^asociados/registro/?$ dispatcher.php?seccion=registro [NC,L]
RewriteRule ^noticias/(.*)/?$ dispatcher.php?seccion=noticias&id=$1 [NC,L]
#RewriteRule ^category/belleza/?$ dispatcher.php?seccion=belleza [NC,L]
#RewriteRule ^category/people/?$ dispatcher.php?seccion=people [NC,L]
#RewriteRule ^category/mixedup/?$ dispatcher.php?seccion=mixedup [NC,L]
#RewriteRule ^category/videosvanidad/?$ dispatcher.php?seccion=videosvanidad [NC,L]
#RewriteRule ^contacto/?$ dispatcher.php?seccion=contacto [NC,L]
#RewriteRule ^aviso-legal/?$ dispatcher.php?seccion=legal [NC,L]
#RewriteRule ^moda/([a-z0-9\-]+)$ dispatcher.php?seccion=articulo&slug=$1 [NC,L]